* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #1d1d1f;
}

/* Barra superior */
.top-bar {
    background-color: #1d1d1f;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
}

.logo {
    font-size: 18px;
}


.container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 20px;
}

.section-small {
    font-size: 14px;
    color: #6e6e73;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.card {
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 18px;
    color: #0066cc;
    margin-bottom: 6px;
    cursor: pointer;
}

.card p {
    font-size: 14px;
    color: #6e6e73;
}
