.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.justify{
    justify-content: center;
    align-items: center;
}

.alignContent{
    align-content: center;
}

/* <<<< FLEX >>>> */

.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}

.flex3{
    flex: 3;
}
