* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(19, 14, 24);
}

header {
    background-color: rgb(231, 117, 3);
    height: 20vh;
}


/* --- NAV --- */
nav {
    width: 98vw;
    height: 10vh;

    margin: auto;
    margin-top: 2vh;
}

nav p{
    color: black;
    font-size: larger;
    font-weight: bolder;
}

nav div{
    background-color:  rgb(223, 204, 181);

    transition-duration: 0.2s;
}
nav div:hover {
    background-color:bisque;
    font-size: xx-large;

    box-shadow: rgb(253, 221, 14) 0 10px 100px 0px;
}

nav div:first-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
nav div:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* TEXT */
h1 {
    margin: auto;
    font-size: 9em;
}


/* COLUMNES */
/* Contenidor */
.container {
  width: 100%;
  overflow: hidden; /* neteja floats */
}

/* Columna base */
[class*="col-"] {
  float: left;
  /* padding: 0.5em; */
  box-sizing: border-box;
}

/* Columnes (12-grid) */
.col-1  { width: 8.3333%; }
.col-2  { width: 16.6666%; }
.col-3  { width: 25%; }
.col-4  { width: 33.3333%; }
.col-5  { width: 41.6666%; }
.col-6  { width: 50%; }
.col-7  { width: 58.3333%; }
.col-8  { width: 66.6666%; }
.col-9  { width: 75%; }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6666%; }
.col-12 { width: 100%; }

/* Columnes small */
@media (min-width: 576px) {
  .col-sm-1  { width: 8.3333%; }
  .col-sm-2  { width: 16.6666%; }
  .col-sm-3  { width: 25%; }
  .col-sm-4  { width: 33.3333%; }
  .col-sm-5  { width: 41.6666%; }
  .col-sm-6  { width: 50%; }
  .col-sm-7  { width: 58.3333%; }
  .col-sm-8  { width: 66.6666%; }
  .col-sm-9  { width: 75%; }
  .col-sm-10 { width: 83.3333%; }
  .col-sm-11 { width: 91.6666%; }
  .col-sm-12 { width: 100%; }
}

/* Columnes medium */
@media (min-width: 768px) {
  .col-md-1  { width: 8.3333%; }
  .col-md-2  { width: 16.6666%; }
  .col-md-3  { width: 25%; }
  .col-md-4  { width: 33.3333%; }
  .col-md-5  { width: 41.6666%; }
  .col-md-6  { width: 50%; }
  .col-md-7  { width: 58.3333%; }
  .col-md-8  { width: 66.6666%; }
  .col-md-9  { width: 75%; }
  .col-md-10 { width: 83.3333%; }
  .col-md-11 { width: 91.6666%; }
  .col-md-12 { width: 100%; }
}

/* Columnes large */
@media (min-width: 992px) {
  .col-lg-1  { width: 8.3333%; }
  .col-lg-2  { width: 16.6666%; }
  .col-lg-3  { width: 25%; }
  .col-lg-4  { width: 33.3333%; }
  .col-lg-5  { width: 41.6666%; }
  .col-lg-6  { width: 50%; }
  .col-lg-7  { width: 58.3333%; }
  .col-lg-8  { width: 66.6666%; }
  .col-lg-9  { width: 75%; }
  .col-lg-10 { width: 83.3333%; }
  .col-lg-11 { width: 91.6666%; }
  .col-lg-12 { width: 100%; }
}